$code-background: #444;
$code-color: #ddd;
$code-color-prompt: #7B7;
$code-color-comment: #999;
$code-color-string: #FD8;
$code-color-literal: #F67;

pre {
  background: $code-background;
  color: $code-color;
  padding: 1em;
  border-radius: 0.5em;
  overflow: scroll;

  // Syntax highlighting
  .comment {
    color: $code-color-comment;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover { color: white; }
    }
  }
  .string {
    color: $code-color-string;
  }
  .literal {
    color: $code-color-literal;
  }
}

pre.command-line {
  // Prompts
  &.bash .command:before {
    content: '$ ';
    color: $code-color-prompt;
  }
  &.cmd-exe .command:before {
    content: 'C:\\> ';
    color: $code-color-prompt;
  }
}
