$link-default: rgb(15,102,230);
$link-hover: rgb(234,21,122);

$code-background: #444;
$code-color: #ddd;
$code-color-prompt: #7B7;
$code-color-comment: #999;
$code-color-string: #FD8;

html, head, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: helvetica, arial, sans-serif;
}

a {
  color: $link-default;

  &:link { text-decoration: none; }
  &:visited { text-decoration: none; }
  &:active { text-decoration: none; }
  &:hover { text-decoration: underline; color: $link-hover; }
}

html, body {
  height: 100%;
  margin: 0px;
}

pre {
  background: $code-background;
  color: $code-color;
  padding: 1em;
  border-radius: 0.5em;
}

pre.command-line {
  // Prompts
  &.bash .command:before { content: '$ '; color: $code-color-prompt; }
  &.cmd-exe .command:before { content: 'C:\\> '; color: $code-color-prompt; }

  // Syntax highlighting
  .comment { color: $code-color-comment }
  .string { color: $code-color-string }
}

#slideshow {
  padding: 1em;
  font-size: 3em;
}
